{
  "languageserver": {
    "ccls": {
      "command": "ccls",
      "filetypes": ["c", "cpp", "cuda", "objc", "objcpp"],
      "rootPatterns": [".ccls", "compile_commands.json", ".vim/", ".git/", ".hg/"],
      "initializationOptions": {
         "cache": {
           "directory": "{{ .chezmoi.homedir }}/.local/share/ccls/"
         },
         "clang": {
          "excludeArgs": ["-fopenmp", "-Werror"]
         }
       }
    }
  },
  "properties": {
    "coc.preferences.diagnostic.displayByAle": true
  }
}
